* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0px;
  --be-gutter-y: 0px;
}

.main {
  padding: 0px;
  min-height: 100vh;
}

h1 {
  margin: 0px;
}

.fondo {
  background-color: rgba(0, 0, 0, 0.233);
}

p {
  margin-bottom: 0px;
}

.enlaces {
  text-decoration: none;
  color: #ffffff;
}

.enlaces:hover {
  color: #ffffff;
}

.header {
  background-color: #134139;
  height: 70px;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #134139;
  border-bottom: #0f3630 solid 3px;
}

.header__izquierda {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__marca {
  height: 60px;
  width: 60px;
  text-decoration: none;
  margin-right: 7%;
  margin-left: 0px;
}

.header__logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.header__proyecto {
  font-family: 'Abril Fatface', cursive;
  font-style: italic;
  font-size: 26px;
  color: #ffffff;
}

.header__menu {
  display: none;
}

.header__derecha {
  display: flex;
  justify-content: space-between;
}

.body {
  padding: 0;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  background-image: linear-gradient(90deg, #164a41 0%, #164a41 54%, #4d774e 100%);
}

.nav {
  padding: 15px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0px;
}

.nav__item {
  text-decoration: none;
  height: 70px;
  display: flex;
}

.nav__item-volver {
  display: none;
}

.nav__enlace {
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
  color: #ffffff;
  height: 70px;
  transition: all 0.5s;
  display: flex;
  padding: 0px 6px 0px 6px;
  border-bottom: solid 3px #0f3630;
}

.nav__enlace-nosotros {
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
  color: #ffffff;
  height: 70px;
  transition: all 0.5s;
  display: flex;
  padding: 0px 6px 0px 6px;
  border-bottom: solid 3px #0f3630;
}

.nav__enlace:hover {
  text-decoration: none;
  color: #134139;
  background-color: #ffffff;
}

.nav__enlace-nosotros:hover {
  text-decoration: none;
  color: #134139;
  background-color: #ffffff;
}

.nav__paginas {
  align-self: center;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  font-size: 20px;
  width: 100%;
  height: 70px;
  justify-self: flex-start;
  margin: 0px;
  padding-left: 0px;
}

.nav .volver {
  display: none;
}

.sectionPrimera {
  background-image: url(../images/index-2.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  background-position: center;
}

.sectionPrimera__fondo {
  background-image: linear-gradient(180deg, rgba(241, 178, 74, 0.8) 0%, rgba(241, 178, 74, 0) 50%, rgba(241, 178, 74, 0.8) 100%);
  height: 100%;
  display: flex;
  align-items: center;
}

.sectionPrimera__titulo {
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  color: #ffffff;
}

.sectionPrimera-nosotros {
  background-image: url(../images/fondo-nosotros.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  background-position: center;
}

.sectionPrimera-ayudanos {
  background-image: url(../images/yaguarete.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  background-position: center;
}

.sectionPrimera-unite {
  background-image: url(../images/yacare-u.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  background-position: center;
}

.sectionPrimera-contactanos {
  background-image: url(../images/fondo-contactanos.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  background-position: center;
}

.sectionSegunda {
  display: flex;
  align-content: space-between;
  min-height: 100px;
}

.sectionSegunda__div-parrafo {
  min-height: 100%;
}

.sectionSegunda__parrafo {
  color: #ffffff;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin: 0px;
  padding: 30px;
}

.sectionSegunda__parrafo-fotos {
  color: #ffffff;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  padding: 10px 30px 10px 30px;
}

.sectionSegunda__div-carousel {
  display: flex;
  justify-content: center;
  min-height: 100px;
  flex-wrap: wrap;
  background-color: #f1b14a63;
  border-top: #fd9c00a1 2px solid;
  border-left: #fd9c00a1 2px solid;
  border-bottom: #fd9c00a1 2px solid;
}

.sectionSegunda__div-mapa {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f1b14a63;
  border-top: #fd9c00a1 2px solid;
  border-left: #fd9c00a1 2px solid;
  border-bottom: #fd9c00a1 2px solid;
}

.sectionSegunda__div-form {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f1b14a63;
  border-top: #fd9c00a1 2px solid;
  border-left: #fd9c00a1 2px solid;
  border-bottom: #fd9c00a1 2px solid;
}

.sectionSegunda .divFlex-contactanos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: #002c2585 2px solid;
}

.sectionSegunda .divSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 370px;
  width: 350px;
}

.sectionSegunda .divMapa {
  height: 330px;
  width: 350px;
  border: #002c2585 2px solid;
  margin-bottom: 5px;
}

.sectionSegunda .divMapa__mapa {
  height: 326px;
  width: 346px;
}

.sectionSegunda .mapaIcono {
  font-size: 30px;
  display: flex;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 5px;
  color: #134139;
  width: 350px;
}

.sectionSegunda .mapaIcono__descripcion {
  font-size: 15px;
  align-self: center;
  font-family: 'Merriweather', serif;
  padding-bottom: 2px;
}

.sectionSegunda .tituloSecundario {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sectionSegunda .carousel {
  align-self: center;
  margin-bottom: 20px;
}

.sectionSegunda .carousel__imagenes {
  height: 320px;
  object-fit: cover;
}

.sectionSegunda .carousel-inner {
  border: #002c2585 2px solid;
}

.sectionSegunda .divFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: #002c2585 2px solid;
}

.sectionSegunda .divFlex__parrafo-flex {
  color: #ffffff;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin: 0px;
  padding: 30px;
}

.sectionSegunda .divFlex__video {
  height: 360px;
  width: 500px;
  border: #fd9c00a1 2px solid;
}

.sectionSegunda .divFlex-video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: #fd9c00a1 2px solid;
  background-color: #f1b14a63;
}

.sectionSegunda .rows {
  background-color: rgba(0, 0, 0, 0.233);
  height: 480px;
}

.sectionSegunda .rows__imagenes {
  border-top: #fd9c00a1 2px solid;
  border-right: #fd9c00a1 2px solid;
  border-bottom: #fd9c00a1 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1b14a63;
}

.sectionSegunda .rows__imagenes-derecha {
  border-top: #fd9c00a1 2px solid;
  border-left: #fd9c00a1 2px solid;
  border-bottom: #fd9c00a1 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1b14a63;
}

.sectionSegunda .rows .imagenes {
  height: 360px;
  width: 400px;
  margin: 30px;
  object-fit: cover;
  border: #002c2585 2px solid;
}

.sectionDonaciones {
  min-height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
}

.sectionDonaciones__titulo {
  font-size: 28px;
  height: 50px;
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px;
}

.sectionDonaciones .divCard {
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "top-left top-right" "bot-left bot-right";
  justify-items: center;
  align-items: center;
}

.sectionDonaciones .card {
  height: 400px;
  width: 280px;
  border: #f1b24a solid 2px;
  transition: all 1s;
}

.sectionDonaciones .card .cardImagen {
  height: 250px;
  width: 100%;
  border: #002c2585 2px solid;
  object-fit: cover;
  overflow: hidden;
}

.sectionDonaciones .card .card-body {
  padding: 0px;
  color: black;
}

.sectionDonaciones .card .card-title {
  color: black;
  text-align: center;
  background-color: #9dc88d;
  margin: 0px;
  padding: 5px;
}

.sectionDonaciones .card .divCard-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #9dc88d;
}

.sectionDonaciones .card .card-descripcion {
  min-width: 100%;
  border-bottom: #002c2585 1px solid;
  padding: 5px;
}

.sectionDonaciones .card .card-descripcion-primero {
  min-width: 100%;
  border-top: #002c2585 1px solid;
  border-bottom: #002c2585 1px solid;
  padding: 5px;
}

.sectionDonaciones .card .btn-primary {
  border-radius: 0px;
  background-color: #134139;
  border: solid 1px #0f3630;
  transform: all 1s;
}

.sectionDonaciones .card .btn-primary:hover {
  background-color: #f1b24a;
  border: solid 1px #fd9c00a1;
}

.sectionDonaciones .card .card-adquirir {
  width: 100%;
}

.sectionDonaciones .card:hover {
  transform: scale(1.2);
}

.form {
  border: #002c2585 solid 2px;
  border-radius: 5px;
  height: 390px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  background-color: #4d774e;
  padding: 0px 5px 0px 5px;
}

.form__titulo {
  margin: 5px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px #002c2585 solid;
}

.form__label {
  margin: 5px;
}

.form__input {
  margin: 5px;
}

.form__comentario {
  resize: none;
}

.form .divGenero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.form .btn-success {
  width: 100%;
  margin-top: 5px;
  border: #002c2585 1px solid;
}

.footer {
  background-color: #134139;
  height: 70px;
  display: flex;
  border-top: solid 3px #0f3630;
}

.footer__izquierda {
  display: flex;
}

.footer__marca {
  height: 60px;
  width: 60px;
  justify-self: flex-start;
  align-self: center;
}

.footer__logo {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.footer__proyecto {
  font-size: 22px;
  margin-left: 30px;
  align-self: center;
}

.footer__lista {
  list-style: none;
  display: flex;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
}

.footer__enlaces {
  align-self: center;
}

.footer__items {
  list-style: none;
  align-self: center;
  display: flex;
}

.footer__iconos {
  font-size: 50px;
  border-radius: 16px;
  border: solid 3px #ffffff;
  transition: 0.2s;
  align-self: center;
}

.footer__iconos:hover {
  color: #134139;
  background-color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .header__proyecto {
    font-size: 20px;
  }
  .nav__enlace {
    font-size: 12px;
  }
  .nav__enlace-nosotros {
    font-size: 12px;
  }
  .sectionSegunda .sectionSegunda__parrafo {
    font-size: 14px;
  }
  .sectionSegunda__div-carousel {
    align-content: space-around;
  }
  .sectionSegunda .tituloSecundario {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sectionSegunda .carousel {
    margin: 5px;
    margin-bottom: 30px;
  }
  .sectionSegunda .carousel__imagenes {
    height: 300px;
    object-fit: cover;
  }
  .sectionSegunda__parrafo-fotos {
    font-size: 14px;
  }
  .sectionSegunda .divFlex__parrafo-flex {
    font-size: 14px;
  }
  .sectionSegunda .rows {
    height: 448px;
  }
  .sectionSegunda .rows .imagenes {
    width: 300px;
    margin: 0px;
  }
  .sectionSegunda .divMapa {
    height: 280px;
    width: 300px;
    border: #002c2585 2px solid;
    margin: 5px;
  }
  .sectionSegunda .divMapa__mapa {
    height: 276px;
    width: 296px;
  }
  .sectionSegunda .mapaIcono {
    font-size: 25px;
    align-self: flex-end;
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
    color: #134139;
    width: 320px;
  }
  .sectionSegunda .mapaIcono__descripcion {
    font-size: 10px;
    align-self: center;
    font-family: 'Merriweather', serif;
    padding-bottom: 2px;
  }
  .sectionSegunda .divFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 448px;
    border: #002c2585 2px solid;
  }
  .sectionSegunda .divFlex__parrafo-flex {
    color: #ffffff;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin: 0px;
    padding: 30px;
  }
  .sectionSegunda .divFlex__video {
    height: 300px;
    width: 400px;
    border: #fd9c00a1 2px solid;
  }
  .form {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .header__proyecto {
    font-size: 16px;
  }
  .header__menu {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
    height: 70px;
  }
  .header #lateral {
    height: 100vh;
    width: 80%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 1s;
  }
  .header #lateral:target {
    left: 0%;
  }
  .nav {
    padding: 0px;
    background-color: #134139e8;
  }
  .nav__lista {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav__item {
    width: 100%;
  }
  .nav__enlace {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .nav__enlace-nosotros {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: solid 3px #0f3630;
  }
  .nav__enlace-volver {
    text-decoration: none;
    transition: all 0.5s;
    display: flex;
  }
  .nav__item-volver {
    display: block;
    width: 100%;
  }
  .nav__menu {
    margin: 0px;
    font-size: 50px;
    margin-top: 5px;
  }
  .nav__paginas {
    align-self: center;
  }
  .sectionSegunda .sectionSegunda__parrafo {
    font-size: 12px;
  }
  .sectionSegunda__div-carousel {
    align-content: space-around;
  }
  .sectionSegunda .tituloSecundario {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sectionSegunda .carousel {
    margin: 5px;
    margin-bottom: 30px;
  }
  .sectionSegunda .carousel__imagenes {
    height: 300px;
    object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */