.form {
    border: $borde-verde-map solid 2px;
    border-radius: 5px;
    height: 390px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    background-color: #4d774e;
    padding: 0px 5px 0px 5px;
    
    .shadow-form {
        position: absolute;
    }

    .shadow-form::after {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        content: '';
        background-color: #000000;
        z-index: -1;
        filter: blur(1px);
    }

    &__titulo {
        margin: 5px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        border-bottom: 1px $borde-verde-map solid;
    }
    &__label {
        margin: 5px;
    }
    &__input {
        margin: 5px;
    }
    &__comentario {
       resize: none;
    }
    .divGenero {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px;
    }
    .btn-success {
        width: 100%;
        margin-top: 5px;
        border: $borde-verde-map 1px solid;
    }
}