
.sectionDonaciones {
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    display: flex;
    &__titulo {
        font-size: 28px;
        height: 50px;
        text-align: center;
        padding: 10px 0px 10px 0px;
        margin-bottom: 0px;
    }
    .divCard {
        min-height: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "top-left top-right"
                             "bot-left bot-right";
        justify-items: center;
        align-items: center;
    }
    .card {
        height: 400px;
        width: 280px;
        border: #f1b24a solid 2px;

        .cardImagen {
            height: 250px;
            width: 100%;
            border: map-get($bordes, borde-verde-map);
            object-fit: cover;
            overflow: hidden;
        }
        .card-body {
            padding: 0px;
            color: black;
        }
        .card-title {
            color: black;
            text-align: center;
            background-color: #9dc88d;
            margin: 0px;
            padding: 5px;
        }
        .divCard-body {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background-color: #9dc88d;
        }
        .card-descripcion {
            min-width: 100%;
            border-bottom: $borde-verde-map 1px solid;
            padding: 5px;
        }
        .card-descripcion-primero {
            min-width: 100%;
            border-top: $borde-verde-map 1px solid;
            border-bottom: $borde-verde-map 1px solid;
            padding: 5px;
        }
        .btn-primary {
            border-radius: 0px;
            background-color: #134139;
            border: solid 1px $borde-verde;
            transform: all 1s;
        }
        .btn-primary:hover {
            background-color: #f1b24a;
            border: solid 1px $amarillo-bordes;
        }
        .card-adquirir {
            width: 100%;
        }
    }
}

