* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    --bs-gutter-x: 0px;
    --be-gutter-y: 0px;
}
.main {
    padding: 0px;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(22,74,65,1) 0%, rgba(22,74,65,1) 54%, rgba(77,119,78,1) 100%);
}
h1 {
    margin: 0px;
}
.enlaces {
    text-decoration: none;
    color: $color-texto;
}
.enlaces:hover {
    color: $color-texto;
}