* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    --bs-gutter-x: 0px;
    --be-gutter-y: 0px;
}
.main {
    padding: 0px;
    min-height: 100vh;
}
h1 {
    margin: 0px;
}

.fondo {
    background-color: rgba(0, 0, 0, 0.233);
}
p {
    margin-bottom: 0px;
}

.enlaces {
    text-decoration: none;
    color: $color-texto;
}
.enlaces:hover {
    color: $color-texto;
}